body {
    font: normal 12px/16px helvetica, aria, sans-serif;
}

div,
p {
    margin: 0;
    padding: 0;
}

.clr {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    color: #3681b3;
    text-decoration: none;
}

a:hover {
    color: #265c80;
}

a:active {
    color: #000;
}

#wrap {
    width: 300px;
    padding-top: 9px;
    font-size: 12px;
    color: #888;
}

#wrap>div {
    display: none;
}

#wrap>#loading {
    display: block;
}

#loading .loader {
    position: relative;
    height: 10px;
    background: lightgrey;
    border-radius: 2px;
}

#loading .bar {
    position: absolute;
    left: 0;
    height: 10px;
    width: 0%;
    background: rgb(126, 44, 168);
    border-radius: 2px;
    transition: width 0.05s ease;
}

p {
    word-wrap: break-word;
}

.warning {
    margin-top: 1em;
    color: #aa8d3b;
    font-style: italic;
    font-weight: bold;
}

.error {
    margin-top: 1em;
    font-weight: bold;
    color: #b33;
}

.error a {
    color: #f75;
}